.footer_links{text-decoration: none;}
    .footer_buttons_last{margin-left:20px;}
    .footer_buttons{background-color: #ffffff !important;
    border:2px solid!important; border-color: #3d70b2!important;color: #3d70b2!important;}
